DROP DATABASE nrlbag;
CREATE DATABASE nrlbag;
USE nrlbag;
-- CUSTOMER TABLE
CREATE TABLE Customer (
                          customer_id INT AUTO_INCREMENT PRIMARY KEY ,
                          name VARCHAR(100) NOT NULL ,
                          address VARCHAR(200) NOT NULL ,
                          contact CHAR(10) UNIQUE NOT NULL ,
                          create_date DATETIME DEFAULT CURRENT_TIMESTAMP
);
# INSERT INTO Customer(name, address, contact)
# VALUES ('Induni Lakmini','Galle','0779235721'),
#        ('Inura Lakmina','Jaffna','0772083721');

-- PRODUCT TABLE
CREATE TABLE Product (
                         product_id INT AUTO_INCREMENT PRIMARY KEY ,
                         name VARCHAR(50) NOT NULL ,
                         size ENUM('SMALL','MEDIUM','LARGE') DEFAULT 'MEDIUM',
                         basic_price DECIMAL(8,2)
);
# INSERT INTO Product(name, size, basic_price)
# VALUES ('School Bag','SMALL',1500.00),
#        ('Hand Bag','MEDIUM',2500.00);

-- SUPPLIER TABLE
CREATE TABLE Supplier (
                          supplier_id INT AUTO_INCREMENT PRIMARY KEY ,
                          supplier_name VARCHAR(100) NOT NULL ,
                          address VARCHAR(200) NOT NULL ,
                          contact CHAR(10) UNIQUE NOT NULL
);
# INSERT INTO Supplier(supplier_name, address, contact)
# VALUES ('Kamal Perera','Colombo','0758964231'),
#        ('Supun Ferenando','Galle','0783456921');

-- MATERIAL TABLE
CREATE TABLE Material (
                          material_id INT AUTO_INCREMENT PRIMARY KEY ,
                          name VARCHAR(100) NOT NULL ,
                          unit ENUM ('YARDS','METERS','LITERS','KG','ROLL','PIECES') DEFAULT 'YARDS',
                          qty_available DECIMAL(8,2) NOT NULL ,
                          supplier_id INT,
                          FOREIGN KEY (supplier_id) REFERENCES Supplier(supplier_id)
);
# INSERT INTO Material(name, unit, qty_available, supplier_id)
# VALUES ('OXFORD','YARDS',150.25,1),
#        ('Tapata','YARDS',50.00,1),
#        ('Chambrella','YARDS',120.00,2);

-- ORDERS TABLE
CREATE TABLE Orders (
                        orders_id INT AUTO_INCREMENT PRIMARY KEY ,
                        customer_id INT,
                        order_date DATE NOT NULL ,
                        deadline DATE NOT NULL ,
                        status ENUM('Pending','Processing','Completed','Cancelled') DEFAULT 'Pending',
                        total_cost DECIMAL(10,2) NOT NULL ,
                        remaining_payment DECIMAL(10,2) DEFAULT 0,
                        FOREIGN KEY (customer_id) REFERENCES Customer(customer_id)
);
# INSERT INTO Orders (customer_id, order_date, deadline, status, total_cost)
# VALUES (1,'2025-05-10','2025-12-12','Processing',2540000.00),
#        (2,'2025-11-01','2025-12-25',default,54000.00);

-- PAYMENT TABLE
CREATE TABLE Payment (
                         payment_id INT AUTO_INCREMENT PRIMARY KEY ,
                         amount DECIMAL(10,2) NOT NULL ,
                         payment_date DATE NOT NULL ,
                         type ENUM ('Advance','Balance') DEFAULT 'Advance',
                         status ENUM ('Pending','Partial','Completed') DEFAULT 'Pending',
                         orders_id INT NOT NULL ,
                         FOREIGN KEY (orders_id) REFERENCES Orders(orders_id)
);
# INSERT INTO Payment (amount, payment_date, type, status, orders_id)
# VALUES (56000.00,'2025-05-10','Advance','Partial',1),
#        (54000.00,'2025-11-01','Balance','Completed',2);


-- ORDER DETAILS TABLE (associate entity)
CREATE TABLE Order_Details (
                               orders_id INT ,
                               product_id INT,
                               quantity INT NOT NULL,
                               unit_price DECIMAL(10,2) NOT NULL ,
                               PRIMARY KEY (orders_id,product_id),
                               FOREIGN KEY (orders_id) REFERENCES Orders(orders_id),
                               FOREIGN KEY (product_id) REFERENCES Product(product_id)
);
# INSERT INTO Order_Details (orders_id, product_id, quantity, unit_price)
# VALUES (1,2,25,2000.00),
#        (2,1,10,2000.00);


-- MATERIAL USED TABLE (associate entity)
CREATE TABLE Material_Used (
                               orders_id INT,
                               material_id INT,
                               used_qty DECIMAL(8,2) NOT NULL ,
                               PRIMARY KEY (orders_id,material_id),
                               FOREIGN KEY (orders_id) REFERENCES Orders(orders_id),
                               FOREIGN KEY (material_id) REFERENCES Material(material_id)
);
# INSERT INTO Material_Used (orders_id, material_id, used_qty)
# VALUES (1,2,12),
#        (1,3,2),
#        (2,2,12);

-- USER TABLE
CREATE TABLE User (
                      id INT AUTO_INCREMENT PRIMARY KEY,
                      userName VARCHAR(10) NOT NULL ,
                      user_password VARCHAR(5) NOT NULL ,
                      name VARCHAR(50) NOT NULL ,
                      role VARCHAR(20) NOT NULL
);
INSERT INTO User (userName, user_password, name, role)
VALUES ('induni','1234','Induni Lakmini','owner');
